*{font-family: sans-serif; margin: 0; padding: 0;}

body{background-color: #ddd;}

@media(min-width : 800px){ /* Para computdores*/

}

@media(max-width : 800px){ /* Para telas pequenas (dispositivos móveis)*/
    #nav-bar{
        width: 100%; 
        height: 100px; 
        background-color: #fff; 
        position: relative;
        margin-bottom: 10px;
    
    }
    #img-logo{
        width: 200px; 
        margin: 20px;
    }
    #img-menu{
        width: 24px; 
        position: absolute; 
        right: 10px; 
        top: 70px;
    }
    .main-menu-open{
        z-index: -1; 
        width: auto; 
        height: fit-content; 
        overflow: hidden; 
        position: absolute; 
        right: 15px; 
        top: 115px;
        background-color: rgba(0, 0, 0, 0.8); 
        text-align: center; 
        border-radius: 0px 0px 0px 0px;
        border-top: 0; 
        transition: top 0.2s;}  
    .main-menu-close{
        top: -120px;
    }  
    header nav div p a{
        text-decoration: none; 
        color: #fff;
    }
    header nav div p a:hover{
        color: #00B0F0;
    }
    header nav div p{
        padding: 10px; 
        margin: 10px;
    }
    section{
        z-index: -2;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #FFFFFF;
        position: relative;
    }

    section h5{
        padding: 10px 10px 10px 10px;
    }
}