*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --black-color-default:  #404040;
}

body{
    background-color: #eee;
}

.bar-navigation{ /* BARRA DE NAVEGAÇÃO */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    background-color: var(--black-color-default);
    border-top: solid 8px #00B0F0;
}

.bar-menu{
    z-index: -1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: left;
    position: absolute;
    top: 100px;
    border: 1px solid;
    width: 100%;
    overflow: hidden;
    /* background: -webkit-linear-gradient(var(--black-color-default), #272626); */
    background-color: var(--black-color-default);
    transition: top 0.5s ease;
}

.toggle-menu{
    top: -200px;
}

header div p{
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #eee;
}

header div p a{ /* TEXTOS DO MENU*/
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bolder;
    transition: font-size 0.1s ease-out;
}
header div p a:hover{
    color: #00B0F0;;
    font-size: larger;
}

.img-logo{ /* LOGO / MARCA */
    height: 80px;
    border-radius: 5px;
}

.img-menu{ /* BOTÃO PARA ACESSO AO MENU (TELAS MENORES)*/
    width: 30px;
    height: 30px;
    transition: all .1s ease-out;
    border-radius: 5px;
}

#conteudo{ /* TÓPICOS DO SITE */
    display: flex;
    margin: 20px 10%;
    border: 1px solid;
    z-index: -3;
    position: absolute;
}